simulation:
  light_center: [ 0.0, 0.5, 0.5 ]
  light_size: [ 1.0, 0.25, 1.0 ]
  q_home: [ 0, 0.1, 0, -1.2, 0, 1.6, 0 ]
  q_goal: [ 0.0, 0.709, 0.0, -1.601, 0.0, -0.739, 0.0 ]

physics:
  # Process Noise (Q): How much the robot drifts per step
  # Multiplier for np.eye(7)
  process_noise_scale: 1e-4

  # Measurement Noise (R): How noisy the sensor is
  # Multiplier for np.eye(7)
  meas_noise_light: 1e-4 # Very accurate in light
  meas_noise_dark: 100.0 # Very blind in dark

planner:
  # RRT/RRBT Parameters
  max_iterations: 5000
  prob_sample_goal: 0.2

  # Max allowed uncertainty trace before pruning
  max_uncertainty: 0.01

  # Sampling Biases
  prob_sample_light: 0.4 # High bias to force detour

  # Heuristic Hint 
  q_light_hint: [ 0.663, 0.746, 0.514, -1.406, 0.996, -1.306, -1.028 ]
