directives:
# 1. Add the two bins with cameras setup from manipulation package
# This adds bin0, bin1, and camera0, camera1, camera2 (fixed cameras around bins)
# Using local copy for editing (original: package://manipulation/two_bins_w_cameras.dmd.yaml)
- add_directives:
    file: file:///workspaces/mit-6.4212-belief-space-rrt/config/two_bins_w_cameras.dmd.yaml

# 2. Add the Kuka iiwa robot
- add_model:
    name: iiwa
    file: package://drake_models/iiwa_description/urdf/iiwa14_primitive_collision.urdf
    default_joint_positions:
      iiwa_joint_1: [ 0 ]
      iiwa_joint_2: [ 0.1 ]
      iiwa_joint_3: [ 0 ]
      iiwa_joint_4: [ -1.2 ]
      iiwa_joint_5: [ 0 ]
      iiwa_joint_6: [ 1.6 ]
      iiwa_joint_7: [ 0 ]

# 3. Weld the robot to the world
- add_weld:
    parent: world
    child: iiwa::iiwa_link_0
    X_PC:
      translation: [ 0.0, 0.0, 0.0 ]

# 4. Add the WSG Gripper
- add_model:
    name: wsg
    file: package://manipulation/hydro/schunk_wsg_50_with_tip.sdf

# 5. Mount Gripper to Robot (Weld wsg to iiwa flange)
- add_weld:
    parent: iiwa::iiwa_link_7
    child: wsg::body
    X_PC:
      translation: [ 0, 0, 0.09 ]
      rotation: !Rpy { deg: [ 90, 0, 90 ] }

# 6. Add the Mustard Bottle as a FREE BODY (not welded)
# Position will be randomized in Python above bin0
- add_model:
    name: mustard
    file: package://drake_models/ycb/006_mustard_bottle.sdf
    default_free_body_pose:
      base_link_mustard:
        translation: [ 0.0, -0.5, 0.3 ]
        rotation: !Rpy { deg: [ 0, 0, 0 ] }

# 7. Define RGBD sensors for the cameras from two_bins_w_cameras.dmd.yaml
cameras:
  camera0:
    name: camera0
    depth: true
    X_PB:
      base_frame: camera0::base
  camera1:
    name: camera1
    depth: true
    X_PB:
      base_frame: camera1::base
  camera2:
    name: camera2
    depth: true
    X_PB:
      base_frame: camera2::base

model_drivers:
  iiwa: !IiwaDriver
    control_mode: position_only
    hand_model_name: wsg
  wsg: !SchunkWsgDriver {}
