directives:
  # 1. Add the Kuka iiwa robot
  - add_model:
      name: iiwa
      file: package://drake_models/iiwa_description/urdf/iiwa14_primitive_collision.urdf
      default_joint_positions:
        iiwa_joint_1: [0]
        iiwa_joint_2: [0.1]
        iiwa_joint_3: [0]
        iiwa_joint_4: [-1.2]
        iiwa_joint_5: [0]
        iiwa_joint_6: [ 1.6]
        iiwa_joint_7: [0]

  # 2. Weld the robot to the world
  - add_weld:
      parent: world
      child: iiwa::iiwa_link_0

  # 3. Add the WSG Gripper
  - add_model:
      name: wsg
      file: package://manipulation/hydro/schunk_wsg_50_with_tip.sdf

  # 4. Mount Gripper to Robot (Weld wsg to iiwa flange)
  - add_weld:
      parent: iiwa::iiwa_link_7
      child: wsg::body
      X_PC:
        translation: [0, 0, 0.09]
        rotation: !Rpy { deg: [90, 0, 90] }

  # 5. Add the Bookshelf
  - add_model:
      name: shelves
      file: package://manipulation/shelves.sdf
  
  - add_weld:
      parent: world
      child: shelves::shelves_body
      X_PC:
          translation: [1.2, 0, 0.3995]   # was 0.9057, now ~25cm further in +x
          rotation: !Rpy { deg: [0, 0, 180]}


  # 6. Add the Target Object
  # We place it on the shelf
  - add_model:
      name: target_object
      file: package://drake_models/ycb/006_mustard_bottle.sdf

  - add_weld:
      parent: shelves::shelves_body
      child: target_object::base_link_mustard
      X_PC:
        translation: [0, 0, 0.23] # On the shelf
        rotation: !Rpy { deg: [-90, 0, -90] }

  # 7. Add the Camera (Physical Body)
  # We weld a camera box to the gripper so it moves with the hand
  - add_model:
      name: wrist_camera
      file: package://manipulation/camera_box.sdf
  
  - add_weld:
      parent: wsg::body
      child: wrist_camera::base
      X_PC:
         translation: [0, -0.05, 0]  # Mounted slightly "above" the gripper (in gripper frame)
         rotation: !Rpy { deg: [0, -90, 0] } # Looking forward

# 8. Define the Sensors
# This tells Drake to render images from the camera body we just added
cameras:
  wrist_camera_sensor:
    name: wrist_camera_sensor
    X_PB:
      translation: [0, 0, 0]
      rotation: !Rpy { deg: [0, 0, 0] }
      # parent_frame: wrist_camera::base
    depth: true
    width: 640
    height: 480
    fps: 30
    renderer_class: !RenderEngineVtkParams
      cast_shadows: true

model_drivers:
    iiwa: !IiwaDriver
      control_mode: position_only
      hand_model_name: wsg
    wsg: !SchunkWsgDriver {}