directives:
# 1. Add the Kuka iiwa robot
- add_model:
    name: iiwa
    file: package://drake_models/iiwa_description/urdf/iiwa14_primitive_collision.urdf
    default_joint_positions:
      iiwa_joint_1: [ 0 ]
      iiwa_joint_2: [ 0.1 ]
      iiwa_joint_3: [ 0 ]
      iiwa_joint_4: [ -1.2 ]
      iiwa_joint_5: [ 0 ]
      iiwa_joint_6: [ 1.6 ]
      iiwa_joint_7: [ 0 ]

# 2. Weld the robot to the world
- add_weld:
    parent: world
    child: iiwa::iiwa_link_0
    X_PC:
      translation: [ 0.0, 0.0, 0.0 ]

# 3. Add the WSG Gripper
- add_model:
    name: wsg
    file: package://manipulation/hydro/schunk_wsg_50_with_tip.sdf

# 4. Mount Gripper to Robot (Weld wsg to iiwa flange)
- add_weld:
    parent: iiwa::iiwa_link_7
    child: wsg::body
    X_PC:
      translation: [ 0, 0, 0.09 ]
      rotation: !Rpy { deg: [ 90, 0, 90 ] }

# 5. Add the Floor
- add_model:
    name: floor
    file: package://manipulation/floor.sdf

- add_weld:
    parent: world
    child: floor::box
    X_PC:
      translation: [ 0, 0, -0.1 ]  # Floor top surface at z=-0.05 (below robot base)

# 6. Add the Manipulation Bin
- add_model:
    name: bin
    file: package://drake_models/manipulation_station/bin.sdf

- add_weld:
    parent: world
    child: bin::bin_base
    X_PC:
      translation: [ 0.0, -0.7, 0.0 ]  # On the opposite side of robot from table
      rotation: !Rpy { deg: [ 0, 0, 90 ] }

# 6b. Add a Second Manipulation Bin
- add_model:
    name: bin2
    file: package://drake_models/manipulation_station/bin.sdf

- add_weld:
    parent: world
    child: bin2::bin_base
    X_PC:
      translation: [ 0.7, 0.0, 0.0 ]
      rotation: !Rpy { deg: [ 0, 0, -180 ] }

# 7. Add the Bookshelf
- add_model:
    name: shelves
    file: package://manipulation/shelves.sdf

- add_weld:
    parent: world
    child: shelves::shelves_body
    X_PC:
      # translation: [ 0.5, 0, 0.3995 ]
      translation: [ 3.0, 0, 0.3995 ]
      # translation: [ 10.0, 10.0, 0.3995 ]
      rotation: !Rpy { deg: [ 0, 0, 180 ] }

# 8. Add the Target Object
# We place it on the shelf
- add_model:
    name: target_object
    file: package://drake_models/ycb/006_mustard_bottle.sdf

- add_weld:
    parent: shelves::shelves_body
    child: target_object::base_link_mustard
    X_PC:
      translation: [ 0.1, 0, 0 ]
      rotation: !Rpy { deg: [ -90, 0, -90 ] }

# 9. Add the Camera (Physical Body)
# We weld a camera box to the top of last link 
# so it moves with the hand
# - add_model:
#     name: wrist_camera
#     file: package://manipulation/camera_box.sdf

# - add_weld:
#     parent: iiwa::iiwa_link_7
#     child: wrist_camera::base
#     X_PC:
#       translation: [ -0.095, 0, 0 ] # Mounted slightly "above" the gripper (in gripper frame)
#       rotation: !Rpy { deg: [ -180, 180, 90 ] } # Looking forward

# # 11. Define the Sensors
# # This tells Drake to render images from the camera body we just added
# cameras:
#   wrist_camera_sensor:
#     name: wrist_camera_sensor
#     # depth: true
#     X_PB:
#       base_frame: wrist_camera::base

model_drivers:
  iiwa: !IiwaDriver
    control_mode: position_only
    hand_model_name: wsg
  wsg: !SchunkWsgDriver {}
